html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

* {
    box-sizing:border-box;
}



#container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 ;
    margin-top: 0px;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    background: transparent;
    user-select: none;

    #wallpaper{
        display: block;
        position: absolute;
        top: 0px;
        width:1900px;
        height: 1000px;
        margin: 0;
        overflow: hidden;
        text-align: center;
        left:50%;
        transform: translateX(-50%);

        pointer-events: none;
      }
      
      #leftPanel{
        position: relative;
        width:435px;
        height: 1000px;
        overflow: hidden;
        order:1;
      }
      
      #siteContent{
        position: relative;
        width: 1026px;
        height: 1100px;
        overflow: visible;
        cursor: pointer;
        flex-shrink: 0;
        order:2;

        #nineMasthead{
            position: relative;
            display: block;
            width: calc(100% + 2px);
            margin-left:-1px;
            height: 250px;
            overflow: hidden;
        }
          
        #nineContent{
            position: relative;
            display: block;
            margin: 0;
            margin-top: 0px;
            width: 100%;
            height: 10000px;
            overflow: hidden;
        }
      }
      
      #rightPanel{
        position: relative;
        width: 435px;
        height: 1000px;
        overflow: hidden;
        order:3;
      }
      
      
  }


/* CUSTOM CSS */
#leftPanel, #rightPanel, #nineMasthead {
    background:#00a7e7;

    .circle {
        background:#4cc1ed;
        position:absolute;
        border-radius:50%;
    }

    img {
        max-width:100%;
    }
}

#leftPanel, #rightPanel {
    

    @media (max-width:1500px) {
        
        img {
            margin:10px;
            max-width:calc(100% - 20px);
        }
    }
}

#leftPanel {
    
    #circle1 {
        width: 291px;
        height: 291px;
        left: 25px;
        top: -220px;

       @media (max-width:1650px) {
           display:none;
        width: 150px;
        height: 150px;
        left: 65px;
        top: -90px;
       }

       @media (max-width:1500px) {
           left:20px;
       }

       @media (max-width:1400px) {
        left: -40px;
        width: 100px;
        height: 100px;
        top: -40px;
       }
    }

    #circle2 {
        width:541px;
        height:541px;
        left: -280px;
        top: 250px;


        @media (max-width:1800px) {
            top:150px;
        }

        @media (max-width:1580px) {
            
            width:450px;
            height:450px;
        }

    }

    #circle3 {
        width:240px;
        height:240px;
        right:-90px;
        bottom:-90px;
    }


    #bigwlogo {
        position:absolute;
        right:15px;
        top : 50px;

        @media (max-width:1500px) {
            right:auto;
            display:block;
            margin:auto;
            position:relative;
        }
    }
}


#rightPanel {
    #circle4 {
        width:227px;
        height:227px;
        right: 90px;
        top: -185px;

        @media (max-width:1800px) {
            right:25px;
        }

        @media (max-width:1500px) {
            left:0;
            right:auto;
        }
    }

    #circle5 {
        width:457px;
        height:457px;
        right: -280px;
        top: 200px;
    }

    #circle6 {
        width:298px;
        height:298px;
        right:67px;
        bottom:-110px;
    }

    #christmas {
        position:absolute;
        left:15px;
        top : 350px;

        @media (max-width:1500px) {
            left:auto;
            right:auto;
            display:block;
            margin:auto;
            position:relative;
        }
    }

    .mania {
        position: absolute;
        top: 50px;
        left: 15px;

        @media (max-width:1500px) {
            left:auto;
            right:auto;
            display:block;
            margin:auto;
            position:relative;
        }
    }
}



#game {
    width:925px;
    height:250px;
    position:relative;
    margin:10px auto;
    overflow:hidden;
    cursor:pointer;

    .tile {
        position:absolute;
        transition: all 0.4s ease;
        background-size:100% 100%;

        &:hover {
            filter:brightness(0.8);
        }
    }


    .active {
        filter:brightness(0.8);
    }
    .destroy {
        opacity:0;
    }

    
}